<div class = "calc_body">
    <div>{{firstNumber()}} {{operator}} {{secondNumber()}}</div>

    <div ng-repeat="number in numbers">
        <button class="number_btn" type="button" ng-click="btnNumberClick(number)">{{number}}</button>
    </div>

    <div ng-repeat="operator in operators">
        <button class="operator_btn" type="button" ng-click="btnOperatorClick(operator)">{{operator}}</button>
    </div>

</div>